<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="bdMysql" value='RobosHomologacao' />
    <!--<add key="bdMysql" value='AuxiliarRobo' />-->
    <!--email que envia a msg-->
    <add key="FromEmail" value="alertas_ti@matur.com.br" />
    <!--qual email vai receber a msg-->
    <add key="CcEmail" value="franciscojunior@matur.com.br" />
    <add key="CcEmail2" value="franciscojunior@matur.com.br" />
    <add key="PrimaryDomain" value="smtp.gmail.com" />
    <add key="PrimaryPort" value="587" />
    <!--email que envia a msg-->
    <add key="UsernameEmail" value="alertas_ti@matur.com.br" />
    <!--senha que envia a msg-->
    <add key="UsernamePassword" value="n56PbTopWJFUbX10o4rx" />
    <!--fim email-->

    <add key="Anexo" value="\\192.168.0.160\homes\franciscojunior\Prestados\Anexos\relatorio.xlsx" />
  </appSettings>
  <connectionStrings>
<!--<add name="MySQLConn" connectionString="server=192.168.0.5; database=RobosHomologacao; port=3306; user=root;" providerName="MySql.Data.MySqlClient" />-->
    <!--<add name="MySQLConn" connectionString="server=192.168.0.5; database=AuxiliarRobo; port=3306; user=root;" providerName="MySql.Data.MySqlClient" />-->
    <add name="MySQLConn" connectionString="server=192.168.0.27; port=3306; user=maturdb; password=m@ri@db!kgb;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>