<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="HoraDownload" value="10"/>
    <add key="HoraLog" value="14"/>
    <add key="bdMysql" value='AuxiliarRobo' />
  </appSettings>

  <connectionStrings>
    <!--<add name="MySQLConn" connectionString="server=192.168.0.5; port=3306; user=Buzz; password=rk-X94jeRN;" providerName="MySql.Data.MySqlClient"/>-->
    <add name="MySQLConn" connectionString="server=192.168.0.27; port=3306; user=maturdb; password=m@ri@db!kgb;" providerName="MySql.Data.MySqlClient" />
    <!--<add name="MySQLConn" connectionString="server=192.168.0.5; database=AuxiliarRobo; port=3306; user=root;" providerName="MySql.Data.MySqlClient" />-->
  </connectionStrings>
</configuration>