<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
 
    <!--<add key="bdMysql" value='RobosHomologacao' />-->
    <add key="bdMysql" value='AuxiliarRobo' />
  </appSettings>
  <!--string de conexão do firebird-->
  <connectionStrings>
    <add name="FireBirdConnCadMatur" connectionString="DataSource=192.168.0.181; Port=3051; Database=/opt/firebird/banco/CADMATUR.GDB; User=SYSDBA; Password=master; Charset=ISO8859_1; Connection lifetime=0; Connection timeout=1500; Pooling=false;" />
    <add name="FireBirdConnQuestor" connectionString="DataSource=192.168.0.134; Port=3050; Database=/banco/Questor.FDB; User=SYSDBA; Password=mTRq5tr6;Charset=ISO8859_1;Connection lifetime=0;Connection timeout=1500;Pooling=false;" />
    <add name="StrCon" connectionString="DataSource=192.168.0.134; Port=3050; Database=/banco/HOMOLOG/QUESTOR_HOMOLOGACAO.FDB; User=SYSDBA; Password=mTRq5tr6;Charset=ISO8859_1;Connection lifetime=0;Connection timeout=1500;Pooling=false;" />
    <!--<add name="MySQLConn" connectionString="server=192.168.0.5; database=RobosHomologacao; port=3306; user=root;" providerName="MySql.Data.MySqlClient" />-->
    <!--<add name="MySQLConn" connectionString="server=192.168.0.5; database=AuxiliarRobo; port=3306; user=root;" providerName="MySql.Data.MySqlClient" />-->
    <!--<add name="MySQLConn" connectionString="server=192.168.0.27; database=AuxiliarRobo; port=3306; user=maturdb; password=m@ri@db!kgb;" providerName="MySql.Data.MySqlClient" />-->
    <add name="MySQLConn" connectionString="server=192.168.0.27; port=3306; user=maturdb; password=m@ri@db!kgb;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>