<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="bdMysql" value='RobosHomologacao' />-->
    <add key="bdMysql" value='AuxiliarRobo' />
    <add key="chrome" value="C:\Program Files (x86)\Google\Chrome\Application\chrome.exe"/>

    <!--Urls-->
    <!--PBH-->
    <add key="Autenticacao" value="https://bhissdigital.pbh.gov.br/nfse/pages/security/consultaNFS-e_prestador.jsf"/>
    <add key="HomeNfse" value="https://bhissdigital.pbh.gov.br/nfse/pages/home.jsf"/>
    <add key="ConsultaNotas" value="https://bhissdigital.pbh.gov.br/nfse/pages/security/consultaNFS-e_prestador.jsf"/>
    <add key="ConsultaNfse" value="https://bhissdigital.pbh.gov.br/nfse/pages/security/consultaXml.jsf"/>
    <!--FIM-->
    <!--Caminhos de produção-->
    <add key="Downloads" value="C:\Users\renatolacerda\Downloads\nfses.zip"/>
    <add key="Zipados" value="C:\Users\renatolacerda\Documents\XMLBH-SERV-PRESTADOS\Documents\Zipados"/>
    <add key="CaminhoServPrest" value="C:\Users\renatolacerda\Documents\XMLBH-SERV-PRESTADOS\Documents\Empresas" />
    <add key="Finalizados" value="C:\Users\renatolacerda\Documents\XMLBH-SERV-PRESTADOS\Documents\Finalizados"/>
    <add key="Anexo" value="C:\Users\renatolacerda\Documents\XMLBH-SERV-PRESTADOS\Anexos\relatorio.xlsx" />
    <add key="AnexoPasta" value="C:\Users\renatolacerda\Documents\XMLBH-SERV-PRESTADOS\Anexos" />
    <add key="Backups" value="C:\Users\robot_xmlpbh2\Documents\Históricos de Processos\Backups" />
    <add key="TempRobo" value="C:\Users\renatolacerda\Documents\XMLBH-SERV-PRESTADOS\Históricos de Processos\Backups"/>
    <!--FIM-->

    <!--Caminhos de testes-->
    <!--<add key="TempRobo" value="T:\FRANCISCO_TI\Backups"/>
    <add key="Backups" value="\\192.168.0.160\homes\franciscojunior\Prestados\Históricos de Processos\Backups"/>
    <add key="Downloads" value="C:\Users\franciscojunior\Downloads\nfses.zip"/>
    <add key="AnexoPasta" value="\\192.168.0.160\homes\franciscojunior\Prestados\Anexos" />
    <add key="Anexo" value="\\192.168.0.160\homes\franciscojunior\Prestados\Anexos\relatorio.xlsx" />
    <add key="CaminhoServPrest" value="\\192.168.0.160\homes\franciscojunior\Prestados\Empresas" />
    <add key="Finalizados" value="\\192.168.0.160\homes\franciscojunior\Prestados\Finalizados"/>
    <add key="Zipados" value="\\192.168.0.160\homes\franciscojunior\Prestados\Zipados"/>-->
    <!--FIM-->

  </appSettings>

  <!--string de conexão do firebird-->
  <connectionStrings>
    <add name="FireBirdConnCadMatur" connectionString="DataSource=192.168.0.181; Port=3051; Database=/opt/firebird/banco/CADMATUR.GDB; User=SYSDBA; Password=master; Charset=ISO8859_1; Connection lifetime=0; Connection timeout=1500; Pooling=false;" />
    <add name="MySQLConn" connectionString="server=192.168.0.27; database=AuxiliarRobo; port=3306; user=maturdb; password=m@ri@db!kgb;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>