<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="bdMysql" value='RobosHomologacao' />
    <!--<add key="bdMysql" value='AuxiliarRobo' />-->

    <!--Caminhos de produção-->
    <!--<add key="Downloads" value="C:\Users\robot_xmlpbh2\Downloads\nfses.zip"/>
    <add key="Zipados" value="\\192.168.0.160\homes\ROBOMATUR\XMLBH-SERV-PRESTADOS\Zipados"/>
    <add key="CaminhoServPrest" value="\\192.168.0.160\homes\ROBOMATUR\XMLBH-SERV-PRESTADOS\Empresas" />
    <add key="Finalizados" value="\\192.168.0.160\homes\ROBOMATUR\XMLBH-SERV-PRESTADOS\Finalizados"/>
    <add key="Anexo" value="\\192.168.0.160\homes\ROBOMATUR\XMLBH-SERV-PRESTADOS\Anexos\relatorio.xlsx" />
    <add key="AnexoPasta" value="\\192.168.0.160\homes\ROBOMATUR\XMLBH-SERV-PRESTADOS\Anexos" />
    <add key="Backups" value="\\192.168.0.160\homes\ROBOMATUR\XMLBH-SERV-PRESTADOS\Históricos de Processos\Backups" />
    <add key="TempRobo" value="T:\ROBO\XMLBH-SERVI-PRESTADO\Backups"/>-->
    <!--FIM-->

    <!--Caminhos de testes-->
    <add key="TempRobo" value="T:\FRANCISCO_TI\Backups"/>
    <add key="Backups" value="\\192.168.0.160\homes\franciscojunior\Prestados\Históricos de Processos\Backups"/>
    <add key="Downloads" value="C:\Users\franciscojunior\Downloads\nfses.zip"/>
    <add key="AnexoPasta" value="\\192.168.0.160\homes\franciscojunior\Prestados\Anexos" />
    <add key="Anexo" value="\\192.168.0.160\homes\franciscojunior\Prestados\Anexos\relatorio.xlsx" />
    <add key="CaminhoServPrest" value="\\192.168.0.160\homes\franciscojunior\Prestados\Empresas" />
    <add key="Finalizados" value="\\192.168.0.160\homes\franciscojunior\Prestados\Finalizados"/>
    <add key="Zipados" value="\\192.168.0.160\homes\franciscojunior\Prestados\Zipados"/>
    <!--FIM-->
  </appSettings>

  <connectionStrings>
    <!--<add name="MySQLConn" connectionString="server=192.168.0.5; database=RobosHomologacao; port=3306; user=root;" providerName="MySql.Data.MySqlClient" />-->
    <!--<add name="MySQLConn" connectionString="server=192.168.0.5; database=AuxiliarRobo; port=3306; user=root;" providerName="MySql.Data.MySqlClient" />-->
    <add name="MySQLConn" connectionString="server=192.168.0.27; port=3306; user=maturdb; password=m@ri@db!kgb;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>